/* html{
  height: 100%;
} */

body{
  margin: 0;
  /* display: flex;
  flex-direction: column;
  height: 100%; */
}
header{
  height: 200px;
  background: silver;
  position: relative;
}
div{
  width: 100px;
  height: 40px;
  background: skyblue;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}
/* header{
  background: pink;
  margin-bottom: 100px;
}
.container{
  display: flex;
  flex: 1;
  margin-top: 50px;
}
main{
  background: skyblue;
  flex: 1;
}
nav{
  background: tomato;
  width: 100px;
  order: -1;
}
aside{
  background: orange;
  width: 100px;
}
footer{
  background: silver;
} */